.DS_Store
Thumbs.db

.idea/
.vs/
.zed/
*.iml
*.suo
*.user

# Generic Build Folders
**/bin/
**/obj/
**/alire/
**/config/

# C# / .NET
*.dll
*.pdb

# Java
*.class
*.jar

# Ada
*.ali
*.o
*.bexch
*.stderr
*.cswi
b~*.*

# C++ / Compiled
*.obj
*.d
*.ilk
*.exp
*.exe
*.out
*.app
